# ~* has higher precedence than /,
# access to resources requires therefore try_files

upstream wpenv2 {
  # docker containers
  server project-name-wordpress:80;
}

# define loggable files via regex (0 = not loggable, 1 = loggable)
map $uri $loggable {
    default                                   1;
    ~^/(?:favicon|apple-touch-icon)           0;
    /robots.txt                               0;
}

server {
  listen [::]:3000 ipv6only=on;
  listen 0.0.0.0:3000;

  server_name _;
  charset utf-8;

  # Disable sendfile as per https://docs.vagrantup.com/v2/synced-folders/virtualbox.html
  sendfile off;

  location @proxy {
    proxy_pass http://wpenv2;

    proxy_set_header   X-Forwarded-Host $host:3000;
    proxy_set_header   X-Forwarded-Port 3000;

    proxy_redirect http://localhost/ http://$host:3000/;
    proxy_set_header   Host $host:3000;
  }

  # Redirect server error pages to the static page /50x.html
  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /var/lib/nginx/html;
  }

  include /etc/nginx/conf.d/config/forbidden.conf;

  # Cache for static assets
  location ~* \.(css|js|ico)$ {
    expires max;
    log_not_found off;
    try_files $uri @proxy;
  }

  # prevent image hotlinking, except for provided domains
  # use this only when you dont have a CDN
  # change domain to your own
  # check: curl -I --referer http://comes-from.example.com http://localhost/wp-content/uploads/2025/04/image.jpg
  location ~* \.(jpe?g|png|webp|gif)$ {
    valid_referers none blocked localhost *.localhost;
    if ($invalid_referer) {
      return 403;
    }

    # Apply caching if referer is valid
    expires max;
    log_not_found off;
    try_files $uri @proxy;
  }

  ## WordPress multisite subfolder admin handling
  # location ~ ^/[^/]+/wp-admin(/.*)?$ {
  #   if ($uri ~ wp-admin$) {
  #     return 301 $scheme://$host$uri/;
  #   }
  #   try_files $uri @proxy;
  # }

  location / {
    try_files $uri @proxy;
  }
}
